# Add this to git config
[filter "split"]
# split into parts relative to the file.
clean = "split -b 50MB -a 3 '.git/parts/%f.part.'"
# concatenate parts and restore file.
smudge = "cat .git/parts/%f.part.*"
required = true

